<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>TUGAS SANBERCODE</title>
  </head>
  <body>

    <style>
        li {
            list-style: none;
        }
    </style>

    <div id="komen">
        <h1>Comments List</h1>
        <ul>
            <li v-for="(comment, key) in comments">
                <!-- <div v-for="score in scores"> -->
                    <button v-on:click="addScore(key)"> + </button>
                    <button v-on:click="minScore(key)"> - </button>
                    Komentar ke-{{ comment.urutan }} : "{{ comment.komentar }}" || {{ comment.date }} || Score: {{comment.score}}
                <!-- </div> -->
            </li>
        </ul>
            <textarea type="text" v-model="komentar" rows="10" cols="70"> </textarea><br>
            <button v-on:click="postComment">Masukkan Komentar</button>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"> </script>
    <script>
        var vo = new Vue({
        el : '#komen',
        data : {
            comments: [],
            urutan: 0,
            komentar:"",
            date: "",
        },
        methods : {
            postComment: function () {
                this.urutan = this.urutan + 1;
                return this.comments.push({"urutan": this.urutan, "komentar":this.komentar, "score":0, "date": new Date().toLocaleString(),});
            },
            addScore: function (key) {
                this.comments[key].score = this.comments[key].score + 1;
            },
            minScore: function (key) {
                this.comments[key].score = this.comments[key].score - 1;
            }
        },
        watch: {
            komentar: function (val) {
                this.komentar = val
            }
        }
    })
    </script>
  </body>
</html>
