<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Loop & List Method</title>
  </head>
  <body>
    <div id="app">
      <ul>
        <li v-for="member in members"><!-- $index still trouble , track-by="$index"-->
          {{ member.nama }} -> {{ member.umur }}
        </li>
      </ul><br>
      <ul>
        <li v-for="member in members"><!-- | filterBy 'i' in 'nama' -->
          {{ member.nama }} -> {{ member.umur }}
        </li>
      </ul><br>
      <ul>
        <li v-for="(key, member) in members2">
          {{ member }} -> {{ key }}
        </li>
      </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script>
      var vo = new Vue({
        el: '#app',
        data: {
          members : [
            { nama: "Invoker", umur: 200},
            { nama: "Axe", umur: 255},
            { nama: "Akasha", umur: 333},
          ],
          members2: {
            nama: "Zivanha",
            umur: 10,
            skill: "powershoot",
          }
        },
      });
      //MUTATING METHOD: push, pop, shift, unshift
      //NON MUTATING METHOD: filte, concat, slice
    </script>
  </body>
</html>
