<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Instance, Property, Data Binding</title>
  </head>
  <body>
    <!-- tanda bintang berguna agar suatu varialle tidak bisa diubah nilainya melalui console log -->
    <div id="app">
      {{ jeniskelamin ? 'laki-laki' : 'perempuan' }}
      <br>
      {{ nama + " Wibowo" }} - {{ hobi }}
      <br>
      {{ umur }}
      <br>
      {{ "Split & Join method : " + nama.split('').reverse().join('') }}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script>
      var vo = new Vue({
        el: '#app',
        data: {
          nama: "Tatas Hendro",
          hobi: "gaming",
          umur: 100,
          jeniskelamin: true //return perempuan if value = false
        },
      });
    </script>
  </body>
</html>
