<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Computed Properties & Conditional Directive</title>
  </head>
  <body>
    <!-- tanda bintang berguna agar suatu varialle tidak bisa diubah nilainya melalui console log -->
    <div id="app">
      a {{ a }} - b {{ b }} <br>
      {{ biodata1 }} <br>
      <!-- menggunakan conditional directive (if else) -->
      <div v-show="status"><!-- hanya memainkan visibilitas value pada css -->
        {{ biodata2 }}
      </div>
      <div v-show="this.umur > 10"><!-- bernilai true sehingga ditampilkan di browser -->
        {{ biodata2 }}
      </div>
      <div v-if="status"><!-- rendering value yg ada pada div -->
        {{ biodata2 }}
      </div>
      <div v-else>
        View status: false <!-- this is just a message that will show up in browser -->
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script>
      var vo = new Vue({
        el: '#app',
        data:{
          a: 1,
          nama: "Tatas Hendro Wibowo",
          umur: 100,
          status: false//jika true akan menampilkan variabel biodata2, dan menyembunyikan v-else
        },
        computed:{
          b: function(){
            return this.a + 2;
          },
          biodata1: function(){
            return this.nama + " umurnya " + this.umur + " tahun";
          },
          biodata2: {
            get: function(){
              return this.nama + " umurnya " + this.umur + " tahun";
            },
            set: function(){//params still trouble
              var credential = params.split('');
              this.nama = credential[0];
              this.umur = credential[1];
            }
          },
        },
      });
    </script>
  </body>
</html>
