<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>QUIZ #2 SANBERCODE</title>
  </head>
  <body>

    <!-- <style>
        li {
            list-style: none;
        }
    </style> -->

    <div id="userapp">
        <h2>Welcome to UserApp!</h2>

        <input type="text" v-model="username" id="userName"> </input>
        <button v-on:click="addUser" v-show="statusAdd">Add User</button>
        <button v-on:click="updateUser" v-show="statusUpdate">Update</button>

        <ul>
            <li v-for="(user, index) in users">
              {{ user.name }}  ||
              <button v-on:click="editUserName(index)"> Edit </button> ||
              <button v-on:click="deleteUser(index)"> Delete </button>
            </li>
        </ul>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"> </script>
    <script>
        var vm = new Vue({
        el : '#userapp',
        data : {
          users : [
            {
              name: "Muhammad Iqbal Mubarok",
            },
            {
              name: "Ruby Purwanti",
            },
            {
              name: "Faqih Muhammad",
            },
          ],
          username: "",
          user_index: "",
          statusAdd: true,
          statusUpdate: false,
        },
        methods : {
            addUser: function () {
                return this.users.push({"name": this.username,});
            },
            editUserName: function (index) {
                this.statusAdd = false;
                this.statusUpdate = true;
                this.user_index = index;
                this.username = this.users[index].name;
            },
            deleteUser: function (index) {

              if (confirm("Apakah anda yakin?")) {
                this.users.splice(index, 1);
              } else {

              }

            },
            updateUser: function (index) {
              this.enableEdit = true;
              Vue.set(vm.users, this.user_index, {"name":this.username,});
              this.statusAdd = true;
              this.statusUpdate = false;
              this.user_index = "";
            }
        },
        watch: {
            username: function (val) {
                this.username = val
            }
        }
    })
    </script>
  </body>
</html>
